	<div class="navbar navbar-default navbar-fixed-bottom"
		<footer class="footer">
      <div class="container">
        <p class="text-muted">Fixed footer content test.</p>
    	</div>
   	</footer>
   </div>